<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAN File Streaming</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <main class="content">
        <h1>Media Server</h1>
        <nav class="main-menu">
            <a href="/videos" class="menu-item">Videos</a>
            <a href="/audios" class="menu-item">Audio</a>
            <a href="/chat" class="menu-item">Chat Room</a>
            <a href="/share" class="menu-item">File Sharing</a>
            <a href="/devices" class="menu-item">Available Devices</a>
        </nav>
    </main>
</body>

</html>